/* Color Theme Swatches in Hex */
.Sades-Studio-Visual-Identity-1-hex { color: #F2D0D9; }
.Sades-Studio-Visual-Identity-2-hex { color: #97A6A0; }
.Sades-Studio-Visual-Identity-3-hex { color: #808C88; }
.Sades-Studio-Visual-Identity-4-hex { color: #81A68A; }
.Sades-Studio-Visual-Identity-5-hex { color: #F2DDD0; }
.Sades-Studio-Visual-Identity-6-hex { color: #9dc9a8; }
.Sades-Studio-Visual-Identity-7-hex { color: #e6a6b7; }